@row_height: 30px;

.booty-grid {

  background-color: #fefef3;
  overflow: hidden;
  border: 1px solid blue;
  position: relative;

  .table-container {
    overflow: hidden;
    border-right: 1px solid blue;

    .edit-box {
      position: fixed;
    }
  }

  .scrollbar-x {
    overflow-x: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    > div {
      height: 1px;
    }
  }

  .scrollbar-y {
    overflow-x: auto;
    width: 17px;
    position: absolute;
    right: 0;
    top: @row_height+3;
    > div {
      height: 1px;
    }
  }

  .scollbar-deadspace-top {
    position: absolute;
    right: 0;
    top: 0;
    height: 33px;
    width: 15px;
    background-color: red;
  }
  .scollbar-deadspace-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 15px;
    width: 15px;
    background-color: red;
  }

  table {
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
  }

  th, td {
    border: 1px solid blue;
    background-color: #fff;
  }

  th, td {
    min-width: 50px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: @row_height;
  }

  .table-header {
    th {
      background-color: #ccc;
      color: #fff;
      padding: 5px;
    }
  }

  .table-body {

    td > div {
      padding: 5px;
    }

    td.selected {
      > div {
        border: 2px solid orange;
      }
    }
  }

}
