.table-container
    %table.table-header
        %thead
    %table.table-body{tabindex:-1}
        %tbody
.scrollbar-x
    %div
.scrollbar-y
    %div
.scollbar-deadspace-top
.scollbar-deadspace-bottom